* {
  -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
  font-family: 'quicksandbold';
  src: url('quicksand-bold-webfont.eot');
  src: url('quicksand-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('quicksand-bold-webfont.woff') format('woff'),
       url('quicksand-bold-webfont.ttf') format('truetype'),
       url('quicksand-bold-webfont.svg#quicksandbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandlight';
  src: url('quicksand-light-webfont.eot');
  src: url('quicksand-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('quicksand-light-webfont.woff') format('woff'),
       url('quicksand-light-webfont.ttf') format('truetype'),
       url('quicksand-light-webfont.svg#quicksandlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quicksandregular';
  src: url('quicksand-regular-webfont.eot');
  src: url('quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('quicksand-regular-webfont.woff') format('woff'),
       url('quicksand-regular-webfont.ttf') format('truetype'),
       url('quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
  -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
  -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
  background-color:#0b5b67;
  background-attachment:fixed;
  font-family:'quicksandbold', 'quicksandlight', 'quicksandregular';
  font-size:12px;
  height:100%;
  margin:0px;
  padding:0px;
  text-transform:uppercase;
  width:100%;
}

h1 {
  font-size:24px;
  font-weight:normal;
  color:#FFFFFF;
  margin:0px;
  overflow:visible;
  padding:0px;
  text-align:center;
  font-family: 'quicksandregular';
}

h2 {
  font-size:14px;
  font-weight:normal;
  color:#FFFFFF;
  margin:0px;
  overflow:visible;
  padding:10px;
  text-align:center;
  font-family: 'quicksandregular';
}

form {
  line-height: 24px;
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

input {
  width:70%;
  /*display: block;*/
  border: 1px solid #999;
  height: 25px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}

img {
  width: 100%;
  height: 100%;
}

ul{
  list-style-type: none;
  padding: 0px;
}

li {
  display: inline-block;
}

.event {
  border-radius:4px;
  -webkit-border-radius:4px;
  color:#FFFFFF;
  font-size:12px;
  margin:0px 30px;
  padding:2px 0px;
}
.event.searching{
  position: absolute;
  background-color:#4B946A;
  display:block;
  top: 400px;
  width: 80%;
  left: 0;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

#page-notSupported, #page-welcome, #page-scanning, #page-failToConnect, #page-fillBox, #page-setupGoal, #page-confirmGoal, #page-checkToJoin, #dashboard, #page-congrats {
  display:none;
}

.notSupported {
  content:url(../img/page2.png);
  width: 100%;
}

#bgImage {
  position: relative;
  top: 0px;
  left: 0px;
}

#form-wrapper {
  position: fixed;
  top: 270px;
  left: 90px;
}

.welcome0 { content:url(../img/welcome0.png); width: 100%; }
.welcome1 { content:url(../img/welcome1.png); width: 100%; }
.welcome2 { content:url(../img/welcome2.png); width: 100%; }
.welcome3 { content:url(../img/welcome3.png); width: 100%; }
.welcome4 { content:url(../img/welcome4.png); width: 100%; }
.welcome5 { content:url(../img/welcome5.png); width: 100%; }

#page-scanning{
  text-align:center;
  font-family: 'quicksandregular';
  padding: 220px 30px 30px 30px;
}

#page-welcome, #page-fillBox, #page-setupGoal, #page-confirmGoal, #page-checkToJoin {
  text-align:center;
  font-family: 'quicksandregular';
  padding: 150px 30px 30px 30px;
}

#dashboard{
  text-align:center;
  font-family: 'helvetica',Sans-serif;
  padding: 50px 30px 30px 30px;
}

div.user-role{
  vertical-align:middle;
  display:inline-block;
}

#scan-animation {
  margin: 0 auto;
  text-align: center;
}

#scan-mask {
  content:url(../img/scan.png);
  position: absolute;
  left: -80px;
  top: 50px;

  -webkit-animation:movemask 3.5s; /* Chrome, Safari, Opera */
  -webkit-animation-iteration-count:infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes movemask
{
0%   {left: -80px; top: 50px;}
25%  {left: 20px; top: 50px;}
50%  {left: 20px; top: 120px;}
75%  {left: -80px; top: 120px;}
100% {left: -80px; top: 50px;}
}

#scan-background {
  content:url(../img/icon-alpha.png);
  width:120px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

#message {
  position: absolute;
  top: 100px;
  left: 80px;
}
.scanfailed {
  content:url(../img/page2.png);
  width: 100%;
}
#boxAnimation {
  width: 120px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}

.originalImage {
  content:url(../img/box1.jpg);
}
.changeImage{
  content:url(../img/box2.jpg);
}
.buttonPair{
  width: 40%;
}

#lockillust{
  width: 120px;
  margin-left:auto;
  margin-right:auto;
  position: relative;
}
.lockImage{
  content:url(../img/lock.png);
}
.runImage{
  content:url(../img/run.png);
}

.section-title{
  width: 100%;
  border-style:solid;
  border-color:#66FFCC;
  border-width:1px 0px 1px 0px;
}
.today-section{
  width: 100%;
  height: 180px;
}
.todayRing{
  width: 62%;
  height: 180px;
  float:left;
}
.dateStatus{
  width: 33%;
  height: 180px;
  border-style:solid;
  border-color:#66FFCC;
  border-width:0px 0px 0px 1px;
  float:right;
  text-align: left;
}
.bigDate{
  padding: 20px 10px;
  color:#66FFCC;
  font-size:48px;
  font-weight:lighter;
  margin:0px;
  display: inline-block;
  padding-bottom: 0px;
}
.middleDate{
  width: 100%;
  padding: 10px 10px;
  color:#66FFCC;
  font-size:18px;
  font-weight:lighter;
}
.smallDate{
  width: 100%;
  font-size:11px;
  font-weight:lighter;
  text-align: left;
  padding: 0px 0px 0px 10px;
  color:#ffffff;
}
.goal-section{
  width: 100%;
  height: 120px;
  border-style:solid;
  border-color:#66FFCC;
  border-width:1px 0px 0px 0px;
}
.goal-statement{
  height: 50%;
  vertical-align: top;

}
.goal-progressbar{
  height: 30%;
  border-style:solid;
  border-color:#66FFCC;
  border-width:0px 0px 1px 0px;
  vertical-align: bottom;
  color: #ffffff;
}

.week-section{
  width: 100%;
  height: 100px;
  margin-top: 10px;
  position: relative;
}

.weeksRing {
  width: 15%;
  height: 100px;
  float: left;
  margin: 2px;
}

.sub-section{
  width: 100%;
  height: 100%;
}

progress:not(value) {
	/* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}

/* Styling the determinate progress element */

progress[value] {
	/* Get rid of the default appearance */
	appearance: none;

	/* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
	border: none;

	/* Add dimensions */
	width: 100%; height: 20px;

	/* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
	  background-color: whiteSmoke;
	  border-radius: 3px;
	  box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
	color: royalblue;

	position: relative;
	margin: 0 0 1.5em;
}

/*
Webkit browsers provide two pseudo classes that can be use to style HTML5 progress element.
-webkit-progress-bar -> To style the progress element container
-webkit-progress-value -> To style the progress element value.
*/

progress[value]::-webkit-progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}

progress[value]::-webkit-progress-value {
	position: relative;

	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;

	/* Let's animate this */
	animation: animate-stripes 5s linear infinite;
}

@keyframes animate-stripes { 100% { background-position: -100px 0; } }

/* Let's spice up things little bit by using pseudo elements. */

progress[value]::-webkit-progress-value:after {
	/* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! */
	content: '';
	position: absolute;

	width:5px; height:5px;
	top:7px; right:7px;

	background-color: white;
	border-radius: 100%;
}

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient(135deg,
											 transparent,
											 transparent 33%,
											 rgba(0,0,0,.1) 33%,
											 rgba(0,0,0,.1) 66%,
											 transparent 66%),
  -moz-linear-gradient(top,
											 rgba(255, 255, 255, .25),
											 rgba(0,0,0,.2)),
  -moz-linear-gradient(left, #09c, #690);

	background-size: 35px 20px, 100% 100%, 100% 100%;
	border-radius:3px;

	/* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
	background-color: whiteSmoke;
	border-radius: 3px;
	box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

	/* Dimensions should be similar to the parent progress element. */
	width: 100%; height:20px;
}

.progress-bar span {
	background-color: royalblue;
	border-radius: 3px;

	display: block;
	text-indent: -9999px;
}

p[data-value] {
  position: relative;
}

/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */

p[data-value]:after {
	content: attr(data-value) '%';
	position: absolute; right:0;
}

.goal-progress::-webkit-progress-value {
	/* Gradient background with Stripes */
	background-image:
	-webkit-linear-gradient(135deg,
													transparent,
													transparent 33%,
													rgba(0,0,0,.1) 33%,
													rgba(0,0,0,.1) 66%,
													transparent 66%),
  -webkit-linear-gradient(top,
													rgba(255, 255, 255, .25),
													rgba(0,0,0,.2)),
  -webkit-linear-gradient(left,#09c, #66FFCC);
}

/* Similarly, for Mozillaa. Unfortunately combining the styles for different browsers will break every other browser. Hence, we need a separate block. */

.goal-progress::-webkit-progress-value {
	/* Gradient background with Stripes */
	background-image:
	-moz-linear-gradient(135deg,
											 transparent,
											 transparent 33%,
											 rgba(0,0,0,.1) 33%,
											 rgba(0,0,0,.1) 66%,
											 transparent 66%),
  -moz-linear-gradient(top,
								 			 rgba(255, 255, 255, .25),
											 rgba(0,0,0,.2)),
  -moz-linear-gradient(left, #09c, #f44);
}

.date-disc {
  vertical-align: top;
  color: #FFF;
  margin-bottom: 5px;
}
.circle {
  vertical-align: bottom;
  border-radius: 50%;
  float: left;
  display: inline-block;
  font-size: 8px;
  width: 32px;
  height: 32px;
  color: #FFF;  border: 1px solid #fff;
  line-height: 32px;
  text-align: center;
  font-family: Arial;
  margin: auto;
}
.color-1 { background: #f06060;}
.color-2 { background: #0b5b67; }
.color-3 { background: #5E2750; }
.color1-box-shadow { box-shadow: 0px 0px 1px 1px #f06060 }
.color2-box-shadow { box-shadow: 0px 0px 1px 1px #0b5b67 }
.color3-box-shadow { box-shadow: 0px 0px 1px 1px #5E2750 }
.text { line-height: 45px; padding-top: 50px; height: 200px }

.congrat0{ content:url(../img/congrat1.jpg); width: 100%; }
.congrat1{ content:url(../img/congrat2.jpg); width: 100%; }
.congrat2{ content:url(../img/congrat3.jpg); width: 100%; }